{% extends "layout.html" %}
{% block body %}
<nav class="bg-light border navbar navbar-expand navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/image">Image Search</a></li>
                    <li class="nav-item"><a class="nav-link" href="/advanced">Advanced Search</a></li>
                </ul>
        </div>
    </div>
</nav>
<main style="display: flex;
flex-direction: column;
height: 100vh;">
    <div class="container">
        <img src="static/Google-logo.png" style="width:250px; align-self: flex-end;">
    </div><br>
        <form action="https://google.com/search" autocomplete="off">
            <div class="d-flex justify-content-center"><input class="textbox" style="width: 500px" type="text" name="q"></div>
            <br>
            <div class="d-flex justify-content-center" style="gap: 20px"><input type="submit" value="Google Search" class="search">
                <input class="search" type="submit" value="I'm Feeling Lucky" name="btnI"></div>
        </form>
</main>
{% endblock %}
